[submodule "wp-content/plugins/calculate-fbo-scores"]
url = https://github.com/ambercouch/calculate-fbo-scores.git
[submodule "wp-content/themes/fantasybakeoff"]
url = https://github.com/ambercouch/fbo-theme.git
