[submodule "wp-content/plugins/ac-sendinblue-on-register"]
	url = https://github.com/ambercouch/ac-mail-list-on-register.git
[submodule "wp-content/plugins/calculate-fbo-scores"]
	url = https://github.com/ambercouch/calculate-fbo-scores.git
[submodule "wp-content/themes/fantasybakeoff"]
	url = git@github.com:ambercouch/fbo-theme.git